<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação de orgãos</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/formulario.css">
    <link rel="shortcut icon" href="img/Logo.svg" type="image/x-icon">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Logo.svg" alt="">
        <h1>Hospital Municipal<br><span style="visibility: hidden;">.....</span>Mariana Maria de Jesus</h1>
        <button class="botaoCabecalho"><a href="/cadastroP">Pacientes</a></button>
        <button class="botaoCabecalho"><a href="/cadastroM">Médicos</a></button>
        <button class="botaoCabecalho"><a href="/cadastroC">Consultas</a></button>
        <button class="botaoCabecalho"><a href="/cadastroV">Vacinas</a></button>
    </header>

    <main id="conteudo"></main>

    <footer id="rodape">
        <p>“A medida da vida não é sua duração, mas a sua doação.”</p>
        <h3><strong>Redes Sociais</strong></h3>
        <img src="img/instagram.svg" alt="">
        <img src="img/whatsapp.svg" alt="">
        <img src="img/facebook.svg" alt="">
        <img src="img/youtube.svg" alt="">
    </footer>

    <script src="js/formulario.js"></script>

</body>

</html>