#cabecalho {
    width: 100%;
    height: 20vh;
    margin-bottom: 15%;
    flex-shrink: 0;

    border-bottom: 3px solid #000;
    background: #25742c;
}

#cabecalho h1 {
    position: relative;
    left: 20%;
    transform: translate(-50%);
    top: -40%;
    text-align: center;
    width: 30%;
    font-size: 150%;
    font-family:'Courier New', Courier, monospace;
}

#cabecalho img {
    position: relative;
    width: 10%;
    height: 10vh;
    top: 20%;
    left: 2%;
}